* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*nav bootstrap*/

.top-nav {
  background-color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 80px;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}
.top-nav .navbar-nav li .nav-link {
    color: #fff;
    font-size: 14px;
    padding:29px 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}
.top-nav li a.nav-link:hover, .top-nav .nav-item.active a.nav-link{
    border-bottom: 3px solid #35cbdf;
    color: #35cbdf;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}
.top-nav .navbar-brand{
	font-size: 28px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.top-nav.light-header{
	height: 60px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.23);
	transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}
.top-nav.light-header .navbar-brand{
	color: #212121;
}
.top-nav.light-header .navbar-nav li .nav-link {
    color: #212121;
    padding: 19px 15px;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}

.top-nav.light-header li a.nav-link:hover, .top-nav.light-header .nav-item.active a.nav-link{
	border-bottom: 3px solid #35cbdf;
    color: #35cbdf;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}

/*fin navbar bootstrap*/

header {
background-color: #222;
color: white;
padding: 0 30px;
display: flex;
justify-content: space-between;
align-items: center;

}


body {
  font-family: 'Helvetica Neue', sans-serif;
}

.contenu {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  color: #black;
}

.contenu > section {
  width: 50%;
  height: 100%;
  padding-left: : 500px;;


}
/*section img-profil*/
.img-profil {
  background: url('img_portfolio/jungle.jpg') no-repeat bottom right;
  background-size: 100% 100%;
  border-right: 3px solid black;
}

/*section info-profil*/
.info-profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-family: "Bodoni FLF";
  margin-left: 50px;

}

.logo {
  max-width: auto;
  height:100%;
  background: url('img_portfolio/LbLogo.png') no-repeat center;
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px;


  }

.profession {
  max-width: 600px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 22px;
}

.btn-cv{
    font-family: 'Bodoni FLF Bold';
    font-size: 20px;
    font-style: italic;
    color: black;
    background-color: #FFFFFF;
    border: 2px solid;
    border-color: black;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;

}


.links {
  margin-top: 45px;
}

.mail-link {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700px;
}

.social-link {
margin-top: 15px;
}

.social-link span {
  display: inline-block;
  width: 36px;
  height: 24px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.youtube {
  background-image: url('youtube-icon.png');
}

div#carousel {
  perspective: 1200px;
  background: black;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size:0;
  margin-bottom: 3rem;
  overflow: hidden;
}
figure#spinner {
  transform-style: preserve-3d;
  height: 500px;
  transform-origin: 50% 50% -500px;
  transition: 1s;

}
figure#spinner img {
  width: 40%; max-width: 425px;
  position: absolute; left: 30%;
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent;
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg);
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
div#carousel ~ span {
  color: #fff;
  margin: 5%;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  transition: 0.6s color;
  position: relative;
  margin-top: -6rem;
  border-bottom: none;
  line-height: 0;
 }
div#carousel ~ span:hover { color: #888; cursor: pointer; }


.footer-distributed{
	background-color: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
